nav{background-color: rgb(41, 37, 40);overflow: auto;white-space: nowrap;}
div  ul li{display: inline-block;text-decoration: none;color:white;padding: 10px;}
div ul li a{color: white;text-decoration: none;}
div ul li a:hover{ text-decoration: none;background-color: gray;}
.sign{text-align:right;font-size: 18px;}
.main{text-align: center;font-size: 18px;}
.footer{position:absolute;left: 0;bottom: 0;width: 100%;text-align: center;background-color: rgb(41,37,40);white-space: nowrap;}
.footer ul li{display: inline-block;text-decoration: none;color: white;}
